<div class="characteres-container">
    <div class="characteres-container__item text-center" *ngFor="let character of characteres$ | async">
      <h4>

          <!-- {{ character.name.length < 13 ? character.name : (character.name | slice: 0:13 ) + '...' }} -->
        {{character.name}}
      </h4>
      <img [src]="character.image" appImgBroken/>
      <p class="mt-1 mb-0 text-success status">

          {{ character.status }}
      </p>
      <a class="btn btn-warning" (click)="addFavorite(character)">
        <i class="fa-solid fa-add"></i>
      </a>
    </div>
</div>